@font-face {
    font-family: retrofont;
    src: url(../../../public/assets/fonts/retro.woff);
  }

  @font-face {
    font-family: inter;
    src: url(../../../public/assets/fonts/inter.ttf);
  }

  @font-face {
    font-family: inria;
    src: url(../../../public/assets/fonts/Inria.ttf);
  }

  body,html{
    background-image: url("../../../public/assets/images/fundo.png");
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
}

  .cabecalho{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    gap: 100px;

    a{
        position: relative;
        text-decoration: none;
        font: 16px inter ;
        height:fit-content;
        top: 20px;
        color: black;

        &:hover{
            text-decoration: underline;
        }
    }

    .logo{
        position: relative;
        left: 900px;
        display: flex;
        flex-direction: column;
        
        strong{
            font: 16px inter;
            font-weight: bolder;
            text-align: center;
        }
    
    
        img{
        height: 51px;
        width: 140px;
        }
    }
  }

  div{
    display: flex;
    flex-direction: column;

    .titulo{
        font: 64px retrofont ;
        color: #D33F3F;
        width: 860px;
        text-align: center;
        position: relative;
        left: 500px;
    }


  }