@font-face {
    font-family: retrofont;
    src: url(../../../public/assets/fonts/retro.woff);
  }

  @font-face {
    font-family: inter;
    src: url(../../../public/assets/fonts/inter.ttf);
  }

  @font-face {
    font-family: inria;
    src: url(../../../public/assets/fonts/Inria.ttf);
  }

  body,html{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
}


  .cabecalho{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    gap: 100px;
    background-image: url("../../../public/assets/images/SMB_NES_World_1-1_Map.png");
    background-position: left 50% top 5%;

    a{
        position: relative;
        text-decoration: none;
        font: 16px inter ;
        height:fit-content;
        top: 20px;
        color: black;

        &:hover{
            text-decoration: underline;
        }
    }

    .logo{
      position: relative;
      left: 900px;
      display: flex;
      flex-direction: column;
      
      strong{
          font: 16px inter;
          font-weight: bolder;
          text-align: center;
      }
  
  
      img{
      height: 51px;
      width: 140px;
      }
  }
  }

  div{
    display: flex;
    flex-direction: column;

    .titulo{
        font: 64px retrofont ;
        color: #D33F3F;
        width: 860px;
        text-align: center;
        position: relative;
        left: 500px;
    }

    .cadastro{
      display: flex;
      flex-direction: row;
      height: 430.67px;
      width: 1306.41px;
      background-color: #D33F3F;
      position: relative;
      left: 15%;

      .imagem{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        left: 3%;
        top: 3%;
          .stock{
            height: 281px;
            width: 300px;
            border-radius: 25px;
          }

          .link{
            background-color: #C2B7B4;
            border-radius: 25px;
            border: none;
            font: 13px inter;
          }
      }

      .inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 3%;

        label{
          position: relative;
          left: 10%;
          font: 20px inter;
          font-weight: bold;
          
        }

        .adicionar{
          position: relative;
          height: 89.16px;
          width: 337.86px;
          left: 70%;
          font: 40px inter;
          font-weight: bold;
          color: #D33F3F;

          &:hover{
            cursor: pointer;
          }
        }

        input{
          position: relative;
          left: 10%;
          height: 99.73px;
          width: 852.76px;
          background-color: #C2B7B4;
          border: none;
          font-size: xx-large;
          font: 40px inter;
        }
      }
    }


  }
