@font-face {
    font-family: retrofont;
    src: url(../../../public/assets/fonts/retro.woff);
  }

  @font-face {
    font-family: inter;
    src: url(../../../public/assets/fonts/inter.ttf);
  }

  @font-face {
    font-family: inria;
    src: url(../../../public/assets/fonts/Inria.ttf);
  }


.cabecalho{

  align-items: center;
left: 1044px;

.editproduto{
  
    position: relative;
    text-decoration: none;
    
    background-color: #665cbe;
    left:1%;
    width: 170px;  
    height: 60px;
    font: 30px inter ;
    padding: 19px;
  color: black ;
  border-radius: 20px;
  font-weight: bold;
  top:10px;
  
}

.sairpags{
  position: relative;
  text-decoration: none;
  
  background-color: #665cbe;
  left:75%;
  width: 68px;  
  height: 40px;
  font: 30px inter ;
  padding: 9px;
color: black ;
border-radius: 20px;
font-weight: bold;

}

  
}
    

    
  .cadastrostrong{
    color: white;
  }
  

  

  div{
    display: flex;
    flex-direction: column;

    .titulo{
        font: 64px retrofont ;
        color: #665cbe;
        width: 860px;
        text-align: center;
        position: relative;
        left: 500px;
    }

    .cadastro{
      display: flex;
      flex-direction: row;
      height: 430.67px;
      width: 1306.41px;
      background-color: #665cbe;
      position: relative;
      left: 15%;
      border-radius: 25px;
      border-color: solid 5px rgba(0, 0, 0, 0.35);


      .imagem{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        left: 3%;
        top: 3%;
        border-radius: 25px;

          .stock{
            height: 281px;
            width: 300px;
            border-radius: 25px;
          }

      }

      .inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 3%;
        

        label{
          position: relative;
          left: 10%;
          font: 20px inter;
          font-weight: bold;
          
          
        }

        .adicionar{
          position: relative;
          height: 89.16px;
          width: 337.86px;
          left: 70%;
          font: 40px inter;
          font-weight: bold;
          color: #665cbe;
         

          &:hover{
            cursor: pointer;
          }
        }

        input{
          position: relative;
          left: 10%;
          height: 99.73px;
          width: 852.76px;
          background-color: #C2B7B4;
          border: none;
          font-size: xx-large;
          font: 40px inter;
        }
      }
    }


  }
