@font-face {
    font-family: retrofont;
    src: url(../../../public/assets/fonts/retro.woff);
  }

  @font-face {
    font-family: inter;
    src: url(../../../public/assets/fonts/inter.ttf);
  }

  @font-face {
    font-family: gemunu;
    src: url(../../../public/assets/fonts/Gemunu.ttf);
  }





.Bloco1{
    display: flex;
    flex-direction: column;

    .Login{
        position: relative;
        left: 749px;
        font: 96px retrofont ;
        color:#665cbe;
    }

    div{
        display: flex;
        flex-direction: row;
        padding-top: 40px;

            img{
                visibility: hidden;
                position: relative;
                width: 49px;
                height: 45px;
                left: 648px;    
                padding-top: 55px;
            }

            label{
                position: relative;
                display: flex;
                flex-direction: column;
                left: 726px;
                font: 32px gemunu;
                font-weight: bolder;

            input{
                position: relative;
                width: 526px;
                height: 65px;
                background-color: #C2B7B4;
                border: none;
                font-size: larger;
            }
        }
        &:hover{
            img{
                transform: rotate(90deg);
                visibility:inherit;
            }
        }

    }

    .entrar{
        position: relative;
        left: 830px;
        top: 100px;
        width: 281px;
        text-decoration: none;
        font: 40px retrofont ;
        color: #D33F3F;

        &:hover{
            color: #e97373;
        }

    }

    .cadastrar{
        position: relative;
        left: 760px;
        top: 100px;
        width: 281px;
        text-decoration: none;
        font: 40px retrofont ;
        color: #D33F3F;

        &:hover{
            color: #e97373;
        }

    }
}


@media (max-width: 820px){

    .logo{
        display: flex;
        flex-direction: column;
        
        strong{
            font: 13px inter;
            font-weight: bolder;
        }
    
    
        img{
        height: 42.5px;
        width: 85.5px;
        }
    }

    .Bloco1{
        position: relative;
        left: -600px;

        .entrar{
            position:relative;
            top:200px;
        }
    }


}

@media (max-width: 414px) {

    .Bloco1{
        .Login{
            position: relative;
            left: 640px;
            font: 70px retrofont;
        }

        div{
            position: relative;
            left: -80px;

            label{

            input{
                width: 300px;

            }
        }

        img{
            left: 720px;
        }

        }

        .entrar{
            position: relative;
            left: 675px;
        }

    }
}

@media (max-width: 375px) {

    .Bloco1{

        .Login{
            position: relative;
            left: 680px;
            font: 40px retrofont;
        }

        div{
            position: relative;
            left: -50px;

            label{

            input{
                width: 200px;

            }
        }

        img{
            left: 720px;
        }

        }

        .entrar{
            position: relative;
            top: 100px;
            left: 675px;
            font: 30px retrofont;
        }
    }

}